@media screen and (max-width: 640px){
    body{
        width: 100%;
        
    }
}

@media screen and (max-width: 640px){
    main{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 641px) and (max-width: 980px){
    main{
        width: 65%;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 981px){
    main{
        width: 100%;
    }
}

h1{
    text-align: center;
}
